<!-- views/partials/_header.ejs -->

    <header class="container page-header">
      <nav class="navbar navbar-static-top">
        <a class="navbar-brand" href="/">WikiMaps</a>
        <% if (userId) { %>
          <form action="/logout" method="POST">
            <input type="submit" value="Logout">
          </form>
        <% } else { %>
          <p class="navbar-text navbar-right"><a href="/login">Login</a> or <a href="/register">Register</a></p>
        <% } %>
      </nav>
    </header>
