<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
<title>"Use a variable for the title"</title>

<!-- CSS (load bootstrap from a CDN) -->

<% if (!username) { %>
<h4>Please log in!</h4>
<form action="/login" method="POST" >
  <label for="username">Enter a username:</label>
  <input id="username" type="text" name="username" placeholder="username">
  <input type="submit" value="Submit">
</form>
<% } else { %>
<h4>Current user: <%= username %> </h4>
<form action="/logout" method="POST" >
  <input type="submit" value="Logout">
</form>
<% } %>
