<!-- views/partials/_header.ejs -->

    <header class="container page-header">
      <nav class="navbar navbar-static-top">
        <a class="navbar-brand index-link" href="/">WikiMaps</a>
          <div class="navbar-right authentication-container">
          <% if (userId) { %>
            <form action="/logout" method="POST">
              <button type="submit" class="btn btn-warning">Logout</button>
            </form>
          <% } else { %>
            <p class="navbar-text navbar-right"><a href="/login">Login</a> or <a href="/register">Register</a></p>
          <% } %>
          </div>
      </nav>
    </header>
