<!DOCTYPE html>
<html>
  <head>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

    <script type="text/javascript" src="/scripts/create_map.js"></script>

    <title>Create A Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>
  </head>
  <body>
  <% include partials/_header.ejs %>
  <div id="map"></div>

  <form action="/api/maps/new" method="POST">
    <label for="email">Name:</label>
    <input id="name" type="text" name="name">
    <label for="username">Description:</label>
    <input id="description" type="text" name="description">
    <label for="password">Image:</label>
    <input id="image_url" type="text" name="image_url">
    <input type="submit" value="Save Map">
  </form>

  <div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
    <input onclick="deleteMarkers();" type=button value="Delete Markers">
  </div>

  <form id='markerInfo'>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <input type='text' class='title' name='name'/>
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <input type='text' class='description' name='description'/>
        </td>
      </tr>
      <tr>
        <td>Image:</td>
        <td>
          <input type='text' class='image_url' name='image'/>
        </td>
      </tr>
      <tr>
        <td>
          <input id='saveMarkerInfo' type='button' value='Save'/>
        </td>
      </tr>
      <input id='markerLat' type='hidden' name='latitude'>
      <input id='markerLng' type='hidden' name='longitude'>

    </table>
  </form>
  <div id="message">Location saved</div>
    <script>
      var map;
      var marker;
      var markers = [];
      var infoWindow;

      function initMap() {
        var victoria = {lat: 48.4284, lng: -123.3656};
        map = new google.maps.Map(document.getElementById('map'), {
          center: victoria,
          zoom: 13
        });

        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('markerInfo')
        });

        map.addListener('click', function(event) {
          addMarker(event.latLng);
        });

      }
      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          $('#markerLat').val(location.lat);
          $('#markerLng').val(location.lng);
          infowindow.open(map, marker);
        });
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
    </script>
     <% include partials/_footer.ejs %>
  </body>
</html>
