<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

     <script type="text/javascript" src="/scripts/create_map.js"></script>

    <title>Create A Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>
  </head>
  <body>
  <div id="map"></div>
    <form action="/api/maps/new" method="POST">
      <label for="email">Name:</label>
      <input id="name" type="text" name="name">
      <label for="username">Description:</label>
      <input id="description" type="text" name="description">
      <label for="password">Image:</label>
      <input id="image_url" type="text" name="image_url">
      <input type="submit" value="Sign Up">
    </form>
    <div id="floating-panel">
      <input onclick="clearMarkers();" type=button value="Hide Markers">
      <input onclick="showMarkers();" type=button value="Show All Markers">
      <input onclick="deleteMarkers();" type=button value="Delete Markers">
    </div>
    <div id="map"></div>
    <script>
      var map;
      var marker;
      var markers = [];
      var infoWindow;

      function initMap() {
        var victoria = {lat: 48.4284, lng: -123.3656};
        map = new google.maps.Map(document.getElementById('map'), {
          center: victoria,
          zoom: 13
        });

        // infowindow = new google.maps.InfoWindow({
        //   content: document.getElementById('newMapInfo')
        // });

        map.addListener('click', function(event) {
          addMarker(event.latLng);
        });

      }
      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);

        // google.maps.event.addListener(marker, 'click', function() {
        //   infowindow.open(map, marker);
        // });
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
    </script>
  </body>
</html>
