<!-- views/create_maps.ejs -->

<!DOCTYPE html>
<html>
  <head>

    <% include partials/_head.ejs %>

    <!-- View-specific styles -->
    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

    <!-- View-specific scripts -->
    <script type="text/javascript" src="/scripts/create_map.js"></script>

    <title>Create A Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>
  </head>
  <body>
  <% include partials/_header.ejs %>

  <div id="map"></div>

  <div class="container">
    <div class="container form-container">
      <h2>Add a New Map</h2>
      <form action="/maps/new" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input id="description" class="form-control" type="text" name="description">
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input id="image_url" class="form-control" type="text" name="image_url">
        </div>
        <input type="submit" id ="saveMap" class="btn btn-block btn-primary" value="Save Map">
      </form>
    </div>
  </div>
  <script>
      var googleMap;

      //The initial map that is shown on load
      function initMap() {
        var victoria = {lng: -123.3656, lat: 48.4284};
        googleMap = new google.maps.Map(document.getElementById('map'), {
          center: victoria,
          zoom: 13
        });
      }
      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: googleMap
        });
        markers.push(marker);
        google.maps.event.addListener(marker, 'click', function() {
          $('#markerLng').val(location.lng);
          $('#markerLat').val(location.lat);
          $('.infoTitle').val("");
          $('.infoOutline').val("");
          $('.infoLink').val("");
          $('#markerInfo').css('display', 'block');
          $('#saveMessage').css('display', 'block');
          infowindow.open(googleMap, marker);
        });
      }

  </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
    </script>
    <% include partials/_footer.ejs %>
  </body>
</html>
