<!-- views/create_maps.ejs -->

<!DOCTYPE html>
<html>
  <head>

    <% include partials/_head.ejs %>

    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

    <script type="text/javascript" src="/scripts/create_map.js"></script>

    <title>Create A Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>
  </head>
  <body>
  <% include partials/_header.ejs %>
  <div id="map"></div>

  <form action="/maps/new" method="POST">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name">
    <label for="description">Description:</label>
    <input id="description" type="text" name="description">
    <label for="image">Image:</label>
    <input id="image_url" type="text" name="image_url">
    <input type="submit" value="Save Map">
  </form>

  <div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
    <input onclick="deleteMarkers(), $('#markerInfo').empty();" type=button value="Delete Markers">
  </div>

  <form action="/api/markers/new" method="POST" id='markerInfo'>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <input type='text' class='title' name='title'/>
        </td>
      </tr>
      <tr>
        <td>Outline:</td>
        <td>
          <input type='text' class='outline' name='outline'/>
        </td>
      </tr>
      <tr>
        <td>Link:</td>
        <td>
          <input type='text' class='link' name='link'/>
        </td>
      </tr>
      <tr>
        <td>
          <input id='saveMarkerInfo' type='button' value='Save'/>
        </td>
      </tr>
      <input id='markerLng' type='hidden' name='longitude'>
      <input id='markerLat' type='hidden' name='latitude'>
    </table>
  </form>
  <!-- <div id='saveMessage'>Location Saved</div> -->
    <script>
      var googleMap;
      var marker;
      var markers = [];
      var infoWindow;
      var messagewindow;

      //The initial map that is shown on load
      function initMap() {
        var victoria = {lng: -123.3656, lat: 48.4284};
        googleMap = new google.maps.Map(document.getElementById('map'), {
          center: victoria,
          zoom: 13
        });

        //Renders the code for the form as the info window
        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('markerInfo')
        });

        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('saveMessage')
        });

        //Adds a marker when a point on the map is clicked
        googleMap.addListener('click', function(event) {
          addMarker(event.latLng);
        });

      }
      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: googleMap
        });
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          $('#markerLng').val(location.lng);
          $('#markerLat').val(location.lat);
          infowindow.open(googleMap, marker);
        });
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(setMap) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(setMap);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(googleMap);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
    </script>
    <% include partials/_footer.ejs %>
  </body>
</html>
