<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps</title>

    <% include partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <div class="maps-container"></div>
    </div>
    <div>
      <h3>Don't like what you see here? <a href="/maps/new">Make your own map!</a></h3>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
