<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps</title>

    <% include partials/_head.ejs %>

  </head>

  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <div class="maps-container"></div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
