<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
    </header>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Enter Email">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Enter Password">
      <input type="submit" value="Log In">
    </form>
    <p>Or <a href="/register">register</a> an account if this is your first time.</p>
    <footer>
    </footer>
  </body>
</html>
