<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Login</title>

    <% include partials/_head.ejs %>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <div class="container form-container">
        <h1>Login</h1>
        <form action="api/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required autofocus>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
        <p>Or <a href="/register">register</a> an account if this is your first time.</p>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
