<!-- views/maps_show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Show Map</title>

    <% include partials/_head.ejs %>

    <!-- View-specific styles -->
    <link rel="stylesheet" href="/styles/maps_show.css" type="text/css" />

    <!-- View-specific scripts -->
    <script type="text/javascript" src="/scripts/maps_show.js"></script>
  </head>
  <body>

  <% include partials/_header.ejs %>

  <div class="container map-show-container">

    <input type="hidden" id="map-id" value="<%=mapId%>">

    <div class="map-details-container">
    </div>

    <% if (userId) { %>

    <div>
      <form action="/maps/likes/<%=mapId%>/<%=userId%>" method="POST">
        <button type="submit" class="btn btn-block btn-primary">
          <span class='glyphicon glyphicon-heart-empty'></span>
          <span>&nbsp Favourite this map</span>
        </button>
      </form>
    </div>

    <% } %>

  </div>

    <div id="map"></div>
    <form action="/api/markers/new" method="POST" id='showInfo'>
      <table>
        <tr>
          <td class="titleInput"></td>
        </tr>
        <tr>
          <td class="outlineInput"></td>
        </tr>
        <tr>
          <td class="linkInput"></td>
        </tr>
        <tr>
        </tr>
      </table>
    </form>
  <div class= "markerDetails"></div>
    <script>
      var showInfoWindow;
      var showMap;

      function initMap() {
        var victoria = {lat: 48.4284, lng: -123.3656};
        showMap = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: victoria
        });

        showInfoWindow = new google.maps.InfoWindow({
        content: document.getElementById('showInfo')
        });

        google.maps.event.addListenerOnce(showMap, 'tilesloaded', function(event){
          $.ajax({
          method: "GET",
          url: "/maps/"+ $('#map-id').val() +"/markers",
        }).done((markers) => {
          markers.forEach(function(marker) {
            var position = {
              lat: marker.latitude,
              lng: marker.longitude
            }
            addMarker(position);
          });
        }).fail((error) => {
        console.log(error)
        $("#map").empty().text(error.responseText);
        });
      });
        function addMarker(location) {
          var marker = new google.maps.Marker({
            position: location,
            map: showMap
          });
          google.maps.event.addListener(marker, 'click', function(event) {
            addMarker(event.latLng);
            $.ajax({
              method: "GET",
              url:"/maps/" + $('#map-id').val() + "/markers/",
            }).done((markers) => {
              markers.forEach(function(marker) {
                ($("body")
                  .append($("<div>").text(marker.title))
                  .append($("<div>").text(marker.outline))
                  .append($("<div>").text(marker.link))
                  .appendTo($("body"))
                )
              })
            })
          })
          showInfoWindow.open(showMap, marker);
        };
      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
      </script>
    </div>
    <% include partials/_footer.ejs %>
  </body>
</html>
