<!-- views/maps_show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Show Map</title>

    <% include partials/_head.ejs %>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <script type="text/javascript" src="/scripts/maps_show.js"></script>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <input type="hidden" id="map-id" value="<%=mapId%>">
    <div id="map-title">
    </div>
    <div>
      <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <form action="/api/markers/new" method="POST" id='showInfo'>
      <table>
        <tr>
          <td class="titleInput">Title:</td>
        </tr>
        <tr>
          <td class="outlineInput">Outline:</td>
        </tr>
        <tr>
          <td class="linkInput">Link:</td>
        </tr>
        <tr>
        </tr>
      </table>
    </form>
      <script>
        function initMap() {
          var victoria = {lat: 48.4284, lng: -123.3656};
          var showMap = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: victoria
          });

          google.maps.event.addListenerOnce(showMap, 'tilesloaded', function(event){
            $.ajax({
            method: "GET",
            url: "/maps/"+ $('#map-id').val() +"/markers",
          }).done((markers) => {
            markers.forEach(function(marker) {
              var position = {
                lat: marker.latitude,
                lng: marker.longitude
              }
              addMarker(position);
            });
          }).fail((error) => {
          console.log(error)
          $("#map").empty().text(error.responseText);
        });
      });
          function addMarker(location) {
            var marker = new google.maps.Marker({
              position: location,
              map: showMap
            });
          }

        var showWindow = new google.maps.InfoWindow({
            content: getElementByID('showInfo')
          });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(showMap, marker)
          });
        }

      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
      </script>
      </div>
  </body>
</html>
