<!-- views/maps_show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Show Map</title>

    <% include partials/_head.ejs %>

    <!-- View-specific styles -->
    <link rel="stylesheet" href="/styles/maps_show.css" type="text/css" />

    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

    <!-- View-specific scripts -->
    <script type="text/javascript" src="/scripts/maps_show.js"></script>
  </head>
  <body>

  <% include partials/_header.ejs %>
  <div class="container map-show-container">

    <input type="hidden" id="map-id" value="<%=mapId%>">

    <div class="map-details-container">
    </div>

    <% if (userId) { %>

    <div>
      <form action="/maps/likes/<%=mapId%>/<%=userId%>" method="POST">
        <button type="submit" class="btn btn-block btn-primary">
          <span class='glyphicon glyphicon-heart-empty'></span>
          <span>&nbsp Favourite this map</span>
        </button>
      </form>
    </div>

    <% } %>

  </div>
  <form action="/api/markers/new/" method="POST" id='markerInfo'>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <input type='text' class='infoTitle' name='title'/>
        </td>
      </tr>
      <tr>
        <td>Outline:</td>
        <td>
          <input type='text' class='infoOutline' name='outline'/>
        </td>
      </tr>
      <tr>
        <td>Link:</td>
        <td>
          <input type='text' class='infoLink' name='link'/>
        </td>
      </tr>
      <tr>
        <td>
          <input id='saveMarkerInfo' type='button' value='Save'/>
        </td>
      </tr>
      <input id='markerLng' type='hidden' name='longitude'>
      <input id='markerLat' type='hidden' name='latitude'>
    </table>
  </form>
    <div id="map"></div>
    <div id="floating-panel">
      <div class="btn btn-block btn-default btn-floating-panel" onclick="clearMarkers();" type="button">
        <span class="glyphicon glyphicon-eye-close"></span>
        &nbsp Hide Markers
      </div>
      <div class="btn btn-block btn-default btn-floating-panel" onclick="showMarkers();" type="button">
        <span class="glyphicon glyphicon-eye-open"></span>
        &nbsp Show Markers
      </div>
      <div class="btn btn-block btn-default btn-floating-panel" onclick="deleteMarkers(), $('#markerInfo').empty();" type="button">
        <span class="glyphicon glyphicon-trash"></span>
        &nbsp Delete Markers
      </div>
    </div>
    <main class="container markers-container">
      <h3>Markers</h3>
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
        </script>
      </div>
    </main>
    <% include partials/_footer.ejs %>
  </body>
</html>
