<!-- views/maps_show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Show Map</title>

    <% include partials/_head.ejs %>

    <!-- View-specific styles -->
    <link rel="stylesheet" href="/styles/maps_show.css" type="text/css" />

    <link rel="stylesheet" href="/styles/create_map.css" type="text/css" />

    <!-- View-specific scripts -->
    <script type="text/javascript" src="/scripts/maps_show.js"></script>
  </head>
  <body>

  <% include partials/_header.ejs %>
  <main>
  <div class="container map-show-container">

    <input type="hidden" id="map-id" value="<%=mapId%>">

    <div class="map-details-container">
    </div>

    <% if (userId) { %>

    <div>
      <form action="/maps/likes/<%=mapId%>/<%=userId%>" method="POST">
        <button type="submit" class="btn btn-block btn-primary">
          <span class='glyphicon glyphicon-heart-empty'></span>
          <span>&nbsp Favourite this map</span>
        </button>
      </form>
    </div>

    <% } %>

  </div>
  <form action="/api/markers/new" method="POST" id='markerInfo'>
    <table>
      <tr>
        <td>Title:</td>
        <td>
          <input type='text' class='infoTitle' name='title'/>
        </td>
      </tr>
      <tr>
        <td>Outline:</td>
        <td>
          <input type='text' class='infoOutline' name='outline'/>
        </td>
      </tr>
      <tr>
        <td>Link:</td>
        <td>
          <input type='text' class='infoLink' name='link'/>
        </td>
      </tr>
      <tr>
        <td>
          <input id='saveMarkerInfo' type='button' value='Save'/>
        </td>
      </tr>
      <input id='markerLng' type='hidden' name='longitude'>
      <input id='markerLat' type='hidden' name='latitude'>
    </table>
  </form>
    <div id="map"></div>
    <div id="floating-panel">
    <div class="btn btn-block btn-default btn-floating-panel" onclick="clearMarkers();" type="button">
      <span class="glyphicon glyphicon-eye-close"></span>
      &nbsp Hide Markers
    </div>
    <div class="btn btn-block btn-default btn-floating-panel" onclick="showMarkers();" type="button">
      <span class="glyphicon glyphicon-eye-open"></span>
      &nbsp Show Markers
    </div>
    <div class="btn btn-block btn-default btn-floating-panel" onclick="deleteMarkers(), $('#markerInfo').empty();" type="button">
      <span class="glyphicon glyphicon-trash"></span>
      &nbsp Delete Markers
    </div>
  </div>
    <div class="markerDetails"></div>
    <script>
      var showMap;
      var marker;
      var markers = [];
      var infoWindow;
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;
      //The initial map that is shown on load
      function initMap() {
        var victoria = {lng: -123.3656, lat: 48.4284};
        showMap = new google.maps.Map(document.getElementById('map'), {
          center: victoria,
          zoom: 13
        });
        //Renders the code for the form as the info window
        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('markerInfo')
        });
        //Adds a marker when a point on the map is clicked
        showMap.addListener('click', function(event) {
          addMarker(event.latLng);
        });
      }

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: showMap
        });
        markers.push(marker);
        google.maps.event.addListener(marker, 'click', function() {
          $('#markerLng').val(location.lng);
          $('#markerLat').val(location.lat);
          $('.infoTitle').val("");
          $('.infoOutline').val("");
          $('.infoLink').val("");
          $('#markerInfo').css('display', 'block');
          $('#saveMessage').css('display', 'block');
          infowindow.open(showMap, marker);
        });

        google.maps.event.addListenerOnce(showMap, 'tilesloaded', function(event){
          $.ajax({
          method: "GET",
          url: "/maps/"+ $('#map-id').val() +"/markers",
        }).done((markers) => {
          markers.forEach(function(marker) {
            var position = {
              lat: marker.latitude,
              lng: marker.longitude
            }
            addMarker(position);
          });
        }).fail((error) => {
        console.log(error)
        $("#map").empty().text(error.responseText);
        });
        });
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(setMap) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(setMap);
        }
      }
      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }
      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(showMap);
      }
      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

      $('#saveMarkerInfo').on('click', function(event){
        var markerInfo = $('#markerInfo').serialize();
        $.ajax({
          type: 'POST',
          data: $('#markerInfo').serialize(),
          url: '/api/markers',
          success: function(data) {
          }
        })
        $('.infoTitle').val("");
        $('.infoOutline').val("");
        $('.infoLink').val("");
        infowindow.close();
        alert('Location Saved!');
      });

        jQuery(document).ready(function() {
        $.ajax({
          method: "GET",
          url:"/maps/" + $('#map-id').val() + "/markers/",
        }).done((markers) => {
          markers.forEach(function(marker) {
            ($("main")
              .append($("<div id='markerLetter'>").text(marker.identifier))
              .append($("<div id='markerTitle'>").text(marker.title))
              .append($("<div id='markerOutline'>").text(marker.outline))
              .appendTo($("main"))
            )
          });
        });
      });



      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPf2G0F43hrQxXCfg5engv6gqMyv3dvA&callback=initMap">
      </script>
    </div>
    </main>
    <% include partials/_footer.ejs %>
  </body>
</html>
