<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps</title>

    <% include partials/_head.ejs %>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <div class="container">
        <h1>Register</h1>
        <form action="api/users/register" method="POST">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required autofocus>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p>Or <a href="/login">login</a> if you're a local.</p>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
