<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
    </header>
    <h1>Register</h1>
    <form action="api/users/register" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Enter New Email">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="Enter New Username">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Enter New Password">
      <input type="submit" value="Sign Up">
    </form>
    <p>Or <a href="/login">login</a> if you're a local.</p>
    <footer>
    </footer>
  </body>
</html>
