<!-- views/user.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: User Profile</title>
    <% include partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/user_profile.js"></script>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <input type="hidden" id="user-profile-id" value="<%=user.id%>">
      <h1><%= user.name %>'s profile</h1>
      <h2>Maps that <span class="user-name-highlight"><%=user.name%></span> has contributed to:</h2>
      <div class="container main-container">
        <div class="none-yet"></div>
        <div class="maps-container"></div>
      </div>
      <h2>Maps that <span class="user-name-highlight"><%=user.name%></span> has favourited:</h2>
      <div class="container fav-main-container">
        <div class="fav-maps-container"></div>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
