<!-- views/user.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: User Profile</title>

    <% include partials/_head.ejs %>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <h2>User Profile View</h2>
      <p>This page shows a user's profile to fulfill the following User Story:</p>
      <ul>
        <li>Users have profiles, indicating:
          <ul>
            <li>their favourite lists and
            <li>lists they've contributed to
          </ul>
        </li>
      </ul>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
