<!-- views/user.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: User Profile</title>
    <% include partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/user_profile.js"></script>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div class="container main-container">
      <div class="col-xs-12">
        <input type="hidden" id="user-profile-id" value="<%=user.id%>">
        <h1><span class="user-name-highlight"><%= user.name %></span>'s profile</h1>
        <h2><span class="user-name-highlight"><%=user.name%></span> contributes to:</h2>
      </div>
      <div class="container main-container">
        <div class="maps-container"></div>
      </div>
      <div class="col-xs-12">
        <h2><span class="user-name-highlight"><%=user.name%></span>'s favourite maps:</h2>
        <div class="container fav-main-container">
          <div class="fav-maps-container"></div>
        </div>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
