#map {
  height: 460px;
  width: 100%;
}

#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 10px;
  line-height: 30px;
  padding: 5px;
  position: relative;
  bottom: 150px;
  width: 150px;
  z-index: 5;
}

#markerInfo {
  display: none;
}
