$brand-primary: #244751;
$brand-highlight: #397182;
$brand-highlight-background: #e5f9ff;
$brand-divider-light: #eeeeee;
$brand-divider-dark: #888888;
$brand-text-light: #888888;
$map-background: #e8e8e8;
$single-column-form-width: 80%;

a:active {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: none;
}

a:link {
  text-decoration-line: none;
}

a:visited {
  text-decoration-line: none;
}

body {
  h1 {
    color: $brand-primary;
  }
}

footer {
  border-top: 1px solid $brand-divider-light;
  color: $brand-text-light;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}

html {
  overflow-y: scroll;
}

.call-to-action-container {
  a {
    font-size: 1.5em;
  }
  background-color: $brand-highlight-background;
  border-radius: 10px;
  padding: 10px 0 30px 0;
  text-align: center;
  width: $single-column-form-width;
}

.container.form-container {
  width: $single-column-form-width;
}

.authentication-container {
  display: inline-block;
  float: right;
  padding-right: 15px;
}

.map-container {
  background: $map-background;
  h2 {
    color: #000;
    margin-top: 5px;
    word-break: break-all;
  }
  img {
    border: 3px solid $brand-divider-dark;
  }
  margin: 0 -10px 20px -10px;
  p {
    color: $brand-primary;
  }
  padding: 5px 15px 15px 15px;
}

.map-container:hover {
  -webkit-box-shadow: 0px 0px 10px 5px $brand-highlight-background;
  -moz-box-shadow: 0px 0px 10px 5px $brand-highlight-background;
  box-shadow: 0px 0px 10px 5px $brand-highlight-background;
}

.navbar-brand.brand-index-link {
  color: $brand-primary;
  font-size: 3em;
}

.user-name-highlight {
  background-color: $brand-highlight-background;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 5px;
}

#wiki-maps-logo {
  float: left;
  padding-top: 0.5em;
  width: 3em;
}

@media screen and (max-width: 400px) {
  .navbar-brand.brand-index-link {
    font-size: 2.3em;
  }
  #wiki-maps-logo {
    width: 2.3em;
  }
}
