body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

footer {
  border-top: 1px solid #eee;
  color: #888;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}

html {
  overflow-y: scroll;
}

.navbar-brand.index-link {
  color: #244751;
  font-size: 3em;
}
