$brand-primary: #244751;
$brand-light-divider: #eeeeee;
$brand-light-text: #888888;
$single-column-form-width: 80%;

body {
  h1 {
    color: $brand-primary;
  }
}

footer {
  border-top: 1px solid $brand-light-divider;
  color: $brand-light-text;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}

html {
  overflow-y: scroll;
}

.container.form-container {
  width: $single-column-form-width;
}

.navbar-brand.index-link {
  color: $brand-primary;
  font-size: 3em;
}

.navbar-right.authentication-container {
  display: inline-block;
  float: right;
  margin-right: 15px;
  padding-right: 15px;
}

#wiki-maps-logo {
  height: 5%;
  width: 6.5%;
  padding-top: 4px;
}
